{% include 'header.html' %}
{% include 'navigation.html' %}

<div class="container">
    <h1 class="cover-heading"> Ranking Escape Room </h1>
    <p class="lead">Rozwiązuj zagadki, uciekaj z pokojów, rejestruj swój czas i pnij się w górę w rankingu najlepszych
        uciekinierów w historii!</p>
    <p class="lead">
        <a href="{{ url_for('score_view.add_score') }}" class="btn btn-lg btn-secondary">Dodaj swój wynik</a>
    </p>
</div>

<script>
    function onLoad() {
        const current = 'navBarHomeId';
        const navItems = [];
        navItems.push(document.getElementById('navBarHomeId'));
        navItems.push(document.getElementById('navBarRoomsId'));
        navItems.push(document.getElementById('navBarRankId'));

        for (let i = 0; i < navItems.length; i++) {
            if (navItems[i].id === current) {
                navItems[i].classList.add("active");
            } else {
                navItems[i].classList.remove("active");
            }
        }
    }
    onLoad();
</script>


{% include 'footer.html' %}