<nav class="navbar  fixed-top navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" id="navBarHomeId" href="{{ url_for('user_view.index') }}"><i class="fa fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
            aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-md-0 nav-masthead">
            <a class="nav-link active" id="navBarRoomsId" href="{{ url_for('room_view.room_list') }}">Pokoje</a>
            <a class="nav-link" id="navBarRankId" href="{{ url_for('score_view.score_list') }}">Ranking</a>
            {% if is_logged %}
                <a class="nav-link" id="userId" href=""><i class="fa fa-user"></i> {{ username }} </a>
                <a class="nav-link" href="{{ url_for('user_view.logout') }}"><i class="fa fa-power-off"></i> Wyloguj</a>
            {% endif %}
        </form>
    </div>
</nav>

<div style="height: 80px"></div>