{% import "bootstrap/wtf.html" as wtf %}
{% include 'header.html' %}
{% include 'navigation.html' %}
 <form method="POST" action="{{ url_for('score_view.add_score') }}">
        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
    </form>

{% include 'footer.html' %}

<script>
    function onLoad() {
        const current = 'none';
        const navItems = [];
        navItems.push(document.getElementById('navBarHomeId'));
        navItems.push(document.getElementById('navBarRoomsId'));
        navItems.push(document.getElementById('navBarRankId'));

        for (let i = 0; i < navItems.length; i++) {
            if (navItems[i].id === current) {
                navItems[i].classList.add("active");
            } else {
                navItems[i].classList.remove("active");
            }
        }
    }
    onLoad();
</script>