{% import "bootstrap/wtf.html" as wtf %}
{% include 'header.html' %}
{% include 'navigation.html' %}
<div class="container">
    <h4>Rejestracja</h4>
    <form method="POST" action="{{ url_for('user_view.registration') }}">
        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
    </form>

    <div class="row">
        <div class="col-sm-12" style="text-align: left;">
            <a class="btn btn-link" href="{{ url_for('user_view.login') }}">Wróć do logowania</a>
        </div>
    </div>
</div>
{% include 'footer.html' %}

<script>
    function onLoad() {
        const navItems = [];
        navItems.push(document.getElementById('navBarHomeId'));
        navItems.push(document.getElementById('navBarRoomsId'));
        navItems.push(document.getElementById('navBarRankId'));

        for (let i = 0; i < navItems.length; i++) {
                navItems[i].classList.remove("active");
        }
    }
    onLoad();
</script>
